
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="login.component.css"> <!-- Link to your CSS file -->
      </head>
      <body>
        <div class="main">
          <h1>Healthy Hike</h1>
          <h3>Enter your username and password</h3>
          <form id="loginForm">
            <label for="first">Username:</label>
            <input type="text" id="first" name="first" placeholder="Enter your Username" required />
      
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required />
      
            <div class="wrap">
              <button type="submit" id="submitButton" disabled>Submit</button>
            </div>
          </form>
          <p>Not registered? <a href="/acc" style="text-decoration: none;">Create an account</a></p>
        </div>
        
     
      </body>
      </html>
      
