/* styles.css */

.logo-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  object-fit: cover;
}
