<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker - Nutrition</title>
  
</head>
<body>
  <!-- src/app/app.component.html -->
 <header id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
  <ul>
    <li><a href="/home"class="nav-link scrollto ">  <i class="bi bi-house"></i>
      <span>Home</span></a></li>
    <li><a href="/dashboard" class="nav-link scrollto"><i class="bi bi-clipboard-pulse"></i>
      <span>Dashboard</span></a></li>
    <li><a href="/profile" class="nav-link scrollto"><i class="bi bi-universal-access"></i>
      <span>Yoga</span></a></li>
    <li><a href="/workouts" class="nav-link scrollto"><i class="bi bi-battery-charging"></i>
      <span>Workouts</span></a></li>
    <li><a href="/nutrition" class="nav-link scrollto"><i class="bi bi-heart-pulse-fill"></i>
      <span>Nutrition</span></a></li>
      <li><a href="/w" class="nav-link scrollto"><i class="bi bi-power"></i>
        <span>Log out</span></a></li>
  </ul>
</nav></header><div class="container-fluid min-vh-100 d-flex flex-column">
<div class="head">
  <div class="logo"><h1><b>Welcome To Your Nutrition Plans !!!</b></h1>
    
    </div></div>
              
            <p >Avoiding junk food will significantly improve your health, regardless of what you eat. Natural fruits, vegetables, and meats are packed with nutrients. Fitness depends on the quantity of food consumed. Below is a sample chart of foods to incorporate into your daily routine. By following this food chart, you can enjoy tasty meals and maintain a healthy, fit body.<br>Also consult a doctor before taking new diet plan that you are alergic to...</p>
           <div><div class="right-content">
              <div class="cloud">
                  <p>"An apple a day keeps the doctor away."</p>
              </div>
          </div>
        </div> 
          
            <div class="grid-container d-flex flex-wrap">
              <div class="grid-item">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Underweight</h5>
              <p class="card-text">You can check out your diet plan below to gain weight and to be fit and Healthy. </p>
              <a href="\u" class="btn btn-primary" role="button" style="text-decoration: none;">My Diet Plan</a>
            </div>
          </div></div>
          <div class="grid-item">
          <div class="card" style="width: 18rem;">
         
            <div class="card-body">
              <h5 class="card-title">Overweight</h5>
              <p class="card-text">You can check out your diet plan below to lose weight and to be fit and Healthy. </p>
              <a href="\o" class="btn btn-primary" role="button" style="text-decoration: none;">My Diet Plan</a>
            </div>
          </div></div>
          <div class="grid-item">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Normal</h5>
              <p class="card-text">You can check out your diet plan below  to be fit and Healthy. </p>
              <a href="\n" class="btn btn-primary" role="button" style="text-decoration: none;">My Diet Plan</a>
            </div>
          </div></div>
          <div class="grid-item">
          <div class="card" style="width: 18rem;"> 

          <div class="card-body">
            <h5 class="card-title">Obese</h5>
            <p class="card-text">You can check out your diet plan below lose weight and to be fit and Healthy.  </p>
            <a href="\obese" class="btn btn-primary" role="button" style="text-decoration: none;">My Diet Plan</a>
          </div>
        </div>
       </div>
       </div>
      </div>    
      <div class="d-flex justify-content-center">
        
        <a class="btn btn-info mx-2" href="/home" role="button" style="text-decoration: none;"><i class="bi bi-arrow-left"></i><span>Way back to Home</span></a>
        <a class="btn btn-info mx-2" href="/dashboard" role="button" style="text-decoration: none;"><i class="bi bi-arrow-left"></i> Back To Dashboard</a>
        <a class="btn btn-primary mx-2" href="/workouts"  role="button" style="text-decoration: none;"> Workouts</a>
        
        <a class="btn btn-primary mx-2" href="/profile" role="button" style="text-decoration: none;">Yoga Routine</a>
      </div>
              
        
    
</body>
</html>
