<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyHike_Home</title><script src ="app.js"></script>
</head>

<body>
  
     
        <div class="center-logo-container">
          <img src="healthy_hike_transparent.png" alt="Logo" class="center-logo">
        </div>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Healthy Hike!</h1>
            <p>Here you can get your fitness and healthier lifestyle recommendations.</p>
            <p>Login to stay connected with us</p><a href="/login" class="btn">Login </a>
        </div> 
      


  
    </section>    </body></html>


       
 