<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyHike_Home</title>
</head>

<body background="https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg">
   <!-- src/app/app.component.html -->
 <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="/home"class="nav-link scrollto ">  <i class="bi bi-house"></i>
        <span>Home</span></a></li>
      <li><a href="/dashboard" class="nav-link scrollto"><i class="bi bi-clipboard-pulse"></i>
        <span>Dashboard</span></a></li>
      <li><a href="/profile" class="nav-link scrollto"><i class="bi bi-universal-access"></i>
        <span>Yoga</span></a></li>
      <li><a href="/workouts" class="nav-link scrollto"><i class="bi bi-battery-charging"></i>
        <span>Workouts</span></a></li>
      <li><a href="/nutrition" class="nav-link scrollto"><i class="bi bi-heart-pulse-fill"></i>
        <span>Nutrition</span></a></li>
        <li><a href="/w" class="nav-link scrollto"><i class="bi bi-power"></i>
          <span>Log out</span></a></li>
      </ul>
  </nav></header>

     <div class="head">
        <div class="logo">
          <h1>Healthy Hike</h1></div></div>
        <div class="center-logo-container">
          <img src="healthy_hike_transparent.png" alt="Logo" class="center-logo">
        </div>
    <section class="hero">
        <div class="hero-content">
            <h1>Hello !<br>Welcome to Healthy Hike!<br>Track Your Fitness Journey</h1>
            <p>Stay fit and healthy with our personalized plans.</p>
            <a href="/dashboard" class="btn">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h2>Personalized Plans</h2>
            <p>Get plans tailored to your fitness goals.</p>
        </div>
        <div class="feature">
            <h2>Healthy Diet</h2>
            <p>Get your personalised diet plans with tastier and healthier foods.</p>
        </div>
        <div class="feature">
            <h2>Peaceful minds</h2>
            <p>Maintaining a fit and healthier mind with inner peace by practicing yoga with us.</p>
        </div>
    </section>

   

    <footer>
        <p>&copy; Healthy Hike. All rights reserved.</p>
    </footer>
</body>

</html><section class="text-gray-600 body-font">
       
 