
<body>
   <!-- src/app/app.component.html -->
   <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="/home"class="nav-link scrollto ">  <i class="bi bi-house"></i>
        <span>Home</span></a></li>
      <li><a href="/dashboard" class="nav-link scrollto"><i class="bi bi-clipboard-pulse"></i>
        <span>Dashboard</span></a></li>
      <li><a href="/profile" class="nav-link scrollto"><i class="bi bi-universal-access"></i>
        <span>Yoga</span></a></li>
      <li><a href="/workouts" class="nav-link scrollto"><i class="bi bi-battery-charging"></i>
        <span>Workouts</span></a></li>
      <li><a href="/nutrition" class="nav-link scrollto"><i class="bi bi-heart-pulse-fill"></i>
        <span>Nutrition</span></a></li>
        <li><a href="/w" class="nav-link scrollto"><i class="bi bi-power"></i>
          <span>Log out</span></a></li>
      </ul>
  </nav></header>
  <div class="head">
    <div class="logo"><h1><b>Welcome To Your Workout recommendations !!!</b></h1>
      
      </div></div>
      <p >To monitor your health, start by calculating your BMI.
        Based on the result, incorporate the appropriate workouts into your daily routine. This fitness tracker is
        designed not only for those who are overweight or underweight but also for anyone looking to maintain their
        fitness, regardless of whether they have a normal weight and height.<br>Also consult a doctor before taking new workout routines...</p>
        <div class="right-content">
          <div class="speech-bubble">
              <p> "Those who do not find time for exercise will have to find time for illness." 
              </p>
          </div>
      </div>
    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Underweight</h3>
    <p><b>Goal: 
    </b>Build muscle mass and strength. </p>
<div class="btn-group">
  <button type="button" class="btn btn-light">Day 1</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Strength Training</b>
   
      <br>Warm-up: 5-10 minutes of light cardio
      <br>  Squats: 3 sets of 8-12 reps
      <br> Bench Press: 3 sets of 8-12 reps
      <br> Bent-over Rows: 3 sets of 8-12 reps
      <br>Overhead Press: 3 sets of 8-12 reps
      <br>Deadlifts: 3 sets of 8-12 reps
      <br>Cool-down: 5-10 minutes of stretching
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 2</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Core</b>
      <br>Cardio: 20-30 minutes of moderate-intensity cardio
      <br>Planks: 3 sets of 30-60 seconds
      <br>Russian Twists: 3 sets of 15 reps per side
      <br>Leg Raises: 3 sets of 12-15 reps
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 3</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Strength Training</b>
      <br> Warm-up: 5-10 minutes of light cardio
      <br>Squats: 3 sets of 8-12 reps
      <br>Bench Press: 3 sets of 8-12 reps
      <br>Bent-over Rows: 3 sets of 8-12 reps
      <br>Overhead Press: 3 sets of 8-12 reps
      <br>Deadlifts: 3 sets of 8-12 reps
      <br>Cool-down: 5-10 minutes of stretching
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 4</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Core</b>

      <br>Cardio: 20-30 minutes of moderate-intensity cardio
      <br>Planks: 3 sets of 30-60 seconds
      <br>Russian Twists: 3 sets of 15 reps per side
      <br>Leg Raises: 3 sets of 12-15 reps
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 5</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br>Squats: 3 sets of 8-12 reps
      <br>Bench Press: 3 sets of 8-12 reps
      <br>Bent-over Rows: 3 sets of 8-12 reps
      <br> Overhead Press: 3 sets of 8-12 reps
      <br>Deadlifts: 3 sets of 8-12 reps
      <br>Cool-down: 5-10 minutes of stretching
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 6</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Rest or Light Activity</b>
      <br>Light activities like walking, yoga, or stretching
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 7</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Rest</b>
      <br>Complete rest
      </a>
  </ul>
</div>






    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"><br>Overweight</h3>
    <p><b>Goal:    </b>Lose fat and improve cardiovascular fitness. </p>
   

<div class="btn-group">
  <button type="button" class="btn btn-light">Day 1</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br>Interval Training: 20-30 minutes of HIIT or circuit training
      <br>Bodyweight Squats: 3 sets of 12-15 reps
      <br> Push-ups: 3 sets of 8-12 reps
      <br>Dumbbell Rows: 3 sets of 12-15 reps
      <br>Lunges: 3 sets of 12-15 reps per leg
      <br>Planks: 3 sets of 30-60 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 2</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Flexibility</b>
      <br>Cardio: 30-45 minutes of moderate-intensity cardio
      <br>Flexibility: 15-20 minutes of stretching or yoga
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 3</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br>Interval Training: 20-30 minutes of HIIT or circuit training
      <br>Bodyweight Squats: 3 sets of 12-15 reps
      <br>Push-ups: 3 sets of 8-12 reps
      <br>Dumbbell Rows: 3 sets of 12-15 reps
      <br>Lunges: 3 sets of 12-15 reps per leg
      <br>Planks: 3 sets of 30-60 seconds</a>
  </ul>

  <button type="button" class="btn btn-light">Day 4</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Cardio & Flexibility</b>
      <br> Cardio: 30-45 minutes of moderate-intensity cardio
      <br>Flexibility: 15-20 minutes of stretching or yoga</a>
  </ul>

  <button type="button" class="btn btn-light">Day 5</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Strength Training</b>
      <br> Warm-up: 5-10 minutes of light cardio
      <br> Interval Training: 20-30 minutes of HIIT or circuit training
      <br> Bodyweight Squats: 3 sets of 12-15 reps
      <br> Push-ups: 3 sets of 8-12 reps
      <br> Dumbbell Rows: 3 sets of 12-15 reps
      <br>Lunges: 3 sets of 12-15 reps per leg
      <br> Planks: 3 sets of 30-60 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 6</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Active Recovery</b>
      <br>Light activities like walking, swimming, or gentle yoga
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 7</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Rest</b>
      <br>Complete rest
      </a>
  </ul>
</div>


    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"><br>Normal</h3>
    <p><b>Goal:</b> Maintain fitness and overall health.</p>
    

<div class="btn-group">
  <button type="button" class="btn btn-light">Day 1</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Strength Training</b>
      <br> Warm-up: 5-10 minutes of light cardio
      <br>Squats: 3 sets of 8-12 reps
      <br>Push-ups: 3 sets of 10-15 reps
      <br>Pull-ups or Lat Pulldowns: 3 sets of 8-12 reps
      <br>Overhead Press: 3 sets of 8-12 reps
      <br>Planks: 3 sets of 30-60 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 2</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Core</b>
      <br>Cardio: 20-30 minutes of moderate-intensity cardio
      <br>Bicycle Crunches: 3 sets of 15 reps per side
      <br>Leg Raises: 3 sets of 12-15 reps
      <br>Russian Twists: 3 sets of 15 reps per side
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 3</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br> Squats: 3 sets of 8-12 reps
      <br>Push-ups: 3 sets of 10-15 reps
      <br>Pull-ups or Lat Pulldowns: 3 sets of 8-12 reps
      <br>Overhead Press: 3 sets of 8-12 reps
      <br>Planks: 3 sets of 30-60 seconds</a>
  </ul>

  <button type="button" class="btn btn-light">Day 4</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Cardio & Core</b>
      <br>Cardio: 20-30 minutes of moderate-intensity cardio
      <br>Bicycle Crunches: 3 sets of 15 reps per side
      <br>Leg Raises: 3 sets of 12-15 reps
      <br>Russian Twists: 3 sets of 15 reps per side
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 5</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br>Squats: 3 sets of 8-12 reps
      <br> Push-ups: 3 sets of 10-15 reps
      <br>Pull-ups or Lat Pulldowns: 3 sets of 8-12 reps
      <br>Overhead Press: 3 sets of 8-12 reps
      <br>Planks: 3 sets of 30-60 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 6</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Active Recovery</b>
      <br>Light activities like walking, swimming, or yoga
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 7</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Rest</b>
      <br> Complete rest
      </a>
  </ul>
</div>




    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"><br>Obese</h3>
    <p><b>Goal:</b> Lose weight and improve overall fitness.</p>
    

<div class="btn-group">
  <button type="button" class="btn btn-light">Day 1</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Low-Impact Cardio & Strength Training</b>
     <br> Warm-up: 5-10 minutes of light cardio
     <br> Low-Impact Cardio: 20-30 minutes (e.g., walking, stationary cycling, water aerobics)
     <br>Seated Leg Press: 3 sets of 12-15 reps
     <br>Seated Chest Press: 3 sets of 12-15 reps
     <br>Seated Row: 3 sets of 12-15 reps
     <br>Seated Overhead Press: 3 sets of 12-15 reps
     <br>Seated Plank: 3 sets of 20-30 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 2</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Flexibility</b>
      <br>Cardio: 30-45 minutes of low-impact cardio (e.g., walking, swimming)
      <br>Flexibility: 15-20 minutes of stretching or gentle yoga
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 3</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Low-Impact Cardio & Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br> Low-Impact Cardio: 20-30 minutes (e.g., walking, stationary cycling, water aerobics)
      <br>Seated Leg Press: 3 sets of 12-15 reps
      <br>Seated Chest Press: 3 sets of 12-15 reps
      <br>Seated Row: 3 sets of 12-15 reps
      <br>Seated Overhead Press: 3 sets of 12-15 reps
      <br>Seated Plank: 3 sets of 20-30 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 4</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b>Cardio & Flexibility</b>
      <br>Cardio: 30-45 minutes of low-impact cardio (e.g., walking, swimming)
      <br>Flexibility: 15-20 minutes of stretching or gentle yoga</a>
  </ul>

  <button type="button" class="btn btn-light">Day 5</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Low-Impact Cardio & Strength Training</b>
      <br>Warm-up: 5-10 minutes of light cardio
      <br> Low-Impact Cardio: 20-30 minutes (e.g., walking, stationary cycling, water aerobics)
      <br>Seated Leg Press: 3 sets of 12-15 reps
      <br>Seated Chest Press: 3 sets of 12-15 reps
      <br>Seated Row: 3 sets of 12-15 reps
      <br>Seated Overhead Press: 3 sets of 12-15 reps
      <br>Seated Plank: 3 sets of 20-30 seconds
      </a>
  </ul>

  <button type="button" class="btn btn-light">Day 6</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu ">
    <a class="dropdown-item"><b>Active Recovery</b>
      <br>Light activities like walking, swimming, or gentle yoga
      </a>
  </ul>






  <button type="button" class="btn btn-light">Day 7</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
   
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item"><b> Rest</b>
      <br>Complete rest
      </a>
  </ul>
</div>
<div class="hr">
  <a class="btn btn-info mx-2" href="/home" role="button" style="text-decoration: none;"><i class="bi bi-arrow-left"></i><span>Way back to Home</span></a>
<a class="btn btn-info mx-2" href="/dashboard"  role="button" style="text-decoration: none;"><i class="bi bi-arrow-90deg-left"></i> Back to Dashboard</a>
  <a class="btn btn-primary mx-2" href="/nutrition" role="button" style="text-decoration: none;"> Diet Plan</a>
  <a class="btn btn-primary mx-2" href="/profile" role="button" style="text-decoration: none;">Yoga Routine</a>
</div>

</body>